/* Цвета */
/* Шрифты */
span {
  font-size: 2.7rem;
}
.header {
  margin-top: 3.6rem;
}
.page {
  font-family: Roboto, sans-serif;
  color: #242830;
  padding-top: 5rem;
}
.page-header {
  background-color: #272e3c;
  margin: 0;
}
.page-services a {
  color: #242830;
}
.page-services-title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
.page-services-item {
  background-color: #ffffff;
  padding-left: 1.7rem;
  margin-bottom: 0.5rem;
}
.page-services-item:hover {
  background: linear-gradient(90deg, #a5c2d4, #6da1c0);
}
.page-services-item:hover span {
  color: #2e76a0;
}
.page-services-item-img {
  text-align: center;
  padding-top: 0.7rem;
  height: 6rem;
  line-height: 6rem;
}
.page-services-item-text {
  text-align: left;
  padding-left: 1rem;
  font-size: 1.6rem;
  height: 6rem;
  line-height: 6rem;
}
.page-content-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.3rem;
}
.page-content-title h2 {
  margin-bottom: 2rem;
}
.page-content-text {
  font-family: Roboto, sans-serif;
  text-align: left;
  font-size: 1.6rem;
  padding-bottom: 5rem;
}
.page-content-galery {
  padding-bottom: 5.3rem;
}
.page-content-galery-item img {
  width: 100%;
}
.page-content-reviews-item {
  background-color: rgba(255, 255, 255, 0.62);
  padding: 3.1rem 2.6rem;
  margin-bottom: 1rem;
}
.page-content-reviews-item h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.page-content-reviews-item p {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
}
.page-content-reviews-form input,
.page-content-reviews-form textarea {
  font-size: 1.6rem;
  background-color: #ffffff;
}
.page-content-reviews-form input:focus::placeholder,
.page-content-reviews-form textarea:focus::placeholder {
  color: transparent;
}
.page-content-reviews-form input::placeholder,
.page-content-reviews-form textarea::placeholder {
  padding-left: 2rem;
}
.page-content-reviews-form input {
  width: 32.2rem;
  height: 5.2rem;
  font-size: 1.6rem;
}
.page-content-reviews-form .right_input {
  margin-left: 1rem;
}
.page-content-reviews-form textarea {
  width: 100%;
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
.page-content-reviews-form textarea::placeholder {
  padding-left: 2rem;
  padding-top: 1.5rem;
}
.page-content-table {
  padding: 5rem 0;
  overflow: auto;
}
.page-content-table table {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.page-content-table table tr {
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
}
.page-content-table table td {
  padding: 2rem 1rem;
  background-color: #ffffff;
  border: 1px solid#eeeeee;
}
.page-content-table table .table-header {
  color: #ffffff;
  border-color: #0f547c;
  background-color: #136493;
}
.page-content-list {
  padding-bottom: 10rem;
}
.page-content-list ul {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 0;
}
.page-content-list li {
  list-style: none;
  font-size: 1.6rem;
}
.page-content-list li:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #2a739e;
  border-radius: 50%;
  margin-right: 1rem;
}
.page-content-list li a {
  color: #2a739e;
  border-bottom: 1px solid #2a739e;
}
.page-content-list li a:hover {
  color: #1f5676;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-services-item-text {
    font-size: 1.5rem;
  }
  .page-content-reviews-form input {
    width: 28rem;
  }
  .page-content-table table td {
    padding: 2rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-services-item-text {
    margin-left: 4.5rem;
    font-size: 1.6rem;
    padding-top: 1rem;
    line-height: 1.4;
  }
  .page-content-reviews-form input {
    width: 20rem;
  }
  .page-content-table table td {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
}
@media (max-width: 767px) {
  .page-services-title {
    text-align: center;
  }
  .page-services-item-text {
    text-align: center;
    font-size: 1.6rem;
  }
  .page-content-galery-item {
    padding-bottom: 1rem;
  }
  .page-content-reviews-form .right_input {
    margin: 0;
  }
  .page-content-reviews-form input {
    width: 100%;
    margin-bottom: 1rem;
  }
}
